.nav-bar {
  position: fixed;
  height: 30px;
  width: 100%;
  top: 0;
  z-index: 999;
  background: linear-gradient(
    135deg,
    #212121 0%,
    #212121 50%,
    #313131 750%,
    rgba(49, 49, 49, 0.795) 100%
  );
  display: flex;
  align-items: center;
  color: white !important;
  padding-left: 20px;
}

.nav-bar .nav-leading-icon {
  width: 25px;
  height: 25px;
  color: white;
}

.nav-bar .nav-bar-item {
  margin-left: 10px;
  margin-right: 10px;
}

.item.header:hover {
  background-color: unset !important;
}

@media screen and (max-width: 590px) and (max-height: 400px) {
  .menu {
    height: 80vh;
    overflow-y: scroll;
  }
}

.menu {
  background: linear-gradient(
    135deg,
    #313131 0%,
    #3d3d3d 50%,
    #494949f5 100%
  ) !important;
}
.menu div.item {
  color: white !important;
}

.nav-menu-icon {
  height: 20px;
  width: 20px;
}
